/* VARIABLES */
:root {
  --primary-color: #00539cff;
  --secondary-color: #eea47fff;
  --bck-color: url(../img/bck_white.jpg);
}

/*----------------------------------*/

body {
  padding-right: 140px;
  padding-left: 140px;
  font-family: "Roboto", sans-serif;
  background-image: var(--bck-color);
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

p {
  padding: 0px;
  margin: 0px;
}

header {
  text-align: center;
  height: 150px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ObjetVoiture {
  border: 2px black solid;
  padding: 0px 30px 30px 30px;
  margin: 30px;
}
